<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-12"> 2017 © Forcambodia <span class="text-muted hidden-xs-down pull-right"> <i class="mdi mdi-heart text-danger"></i> by Chhouk Tit Panhara</span></div>
        </div>
    </div>
</footer>
