<header id="topnav">
   <div class="topbar-main">
      <div class="container">
        <div class="logo">
          <a href="index.html" class="logo"> <img src="assets/images/logo-sm.png" alt="" height="30"> </a>
        </div>

      <div class="menu-extras topbar-custom">
          <ul class="list-inline float-right mb-0">
            <li class="list-inline-item dropdown notification-list hidden-xs-down">
              <a class="nav-link dropdown-toggle arrow-none waves-effect" data-toggle="dropdown" href="#" role="button" aria-haspopup="false" aria-expanded="false"> English <img src="assets/images/flags/us_flag.jpg" class="ml-2" height="16" alt=""/> </a>
                <div class="dropdown-menu dropdown-menu-right language-switch">
                    <a class="dropdown-item" href=""><img src="assets/images/flags/germany_flag.jpg" alt="" height="16" /><span> German </span></a>
                    <a class="dropdown-item" href=""><img src="assets/images/flags/italy_flag.jpg" alt="" height="16" /><span> Italian </span></a>
                    <a class="dropdown-item" href=""><img src="assets/images/flags/french_flag.jpg" alt="" height="16" /><span> French </span></a>
                    <a class="dropdown-item" href=""><img src="assets/images/flags/spain_flag.jpg" alt="" height="16" /><span> Spanish </span></a>
                    <a class="dropdown-item" href=""><img src="assets/images/flags/russia_flag.jpg" alt="" height="16" /><span> Russian </span></a>
                </div>
            </li>
            <li class="list-inline-item dropdown notification-list">
                <a class="nav-link dropdown-toggle arrow-none waves-effect nav-user" data-toggle="dropdown" href="#" role="button" aria-haspopup="false" aria-expanded="false">
                  <img src="assets/images/users/avatar-1.jpg" alt="Setting" class="rounded-circle">
                </a>
                <div class="dropdown-menu dropdown-menu-right profile-dropdown ">
                   <a class="dropdown-item" href="#"><i class="dripicons-user text-muted"></i> Profile</a>
                   <a class="dropdown-item" href="#"><i class="dripicons-wallet text-muted"></i> My Wallet</a>
                   <a class="dropdown-item" href="#"><span class="badge badge-success pull-right m-t-5">5</span>
                   <i class="dripicons-gear text-muted"></i> Settings</a> <a class="dropdown-item" href="#">
                   <i class="dripicons-lock text-muted"></i> Lock screen</a>
                   <div class="dropdown-divider"></div>
                   <%=link_to destroy_admin_user_session_path, method: :delete, class: "dropdown-item" do%>
                    <i class="dripicons-exit text-muted"></i> Logout
                   <%end%>
                 </div>
            </li>
            <li class="menu-item list-inline-item">
                <a class="navbar-toggle nav-link">
                    <div class="lines"> <span></span> <span></span> <span></span></div>
                </a>
            </li>
        </ul>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>

  <div class="navbar-custom">
    <div class="container">
      <div id="navigation">
        <ul class="navigation-menu">
          <li class="has-submenu"> <a href="#"><i class="mdi mdi-view-dashboard"></i>Dashboard</a></li>
          <li class="has-submenu"> <a href="#"><i class="mdi mdi-buffer"></i>Repository</a>
            <ul class="submenu megamenu">
              <li>
                <ul>
                  <li>
                    <%=link_to "Products", admin_products_path%>
                  </li>
                  <li>
                    <%=link_to "Property", admin_properties_path%>
                  </li>
                  <li>
                    <%=link_to "Prototype", admin_prototypes_path%>
                  </li>
                </ul>
              </li>
            </ul>
          </li>
      </div>
    </div>
  </div>
</header>
