<div class="wrapper">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
              <div class="page-title-box">
                <h4 class="page-title">Form Prototype</h4>
              </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="card m-b-20">
                    <div class="card-block">
                        <h4 class="mt-0 header-title">Prototype</h4>
                        <p class="text-muted m-b-30 font-14"></p>
                        <%=form_for ([:admin,@prototype]) do |f|%>
                          <%=f.error_messages%>
                            <div class="form-group col-lg-6">
                                <%=f.label :name%>
                                <%=f.text_field :name,class: "form-control", placeholder: "Product Name"%>
                            </div>
                            <div class="form-group col-lg-6">
                                <%=f.label :status, class:"" do%>
                                  <%=f.check_box :active, :class=> ""%>
                                 <span class="custom-control-description"> Active</span>
                                <%end%>
                            </div>
                            <%=render 'property_form'%>
                            <div class="form-group col-lg-6">
                              <div>
                                <%=f.submit :class => "btn btn-info"%>
                                <%=link_to "Cancel", admin_prototypes_path, class:"btn btn-dark"%>
                              </div>
                          </div>
                        <%end%>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
