<%@all_properties.each do |property|%>
  <%checked = @prototype.name && @prototype.properties.include?(property)%>
  <%= check_box_tag "prototype[property_ids][]", property.id, checked%>
  <%= property.display_name%> (<%= property.identifing_name%>)
<%end%>
