<div class="wrapper">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                  <div class="page-title-box">
                    <div class="btn-group pull-right">
                      <%=link_to "Add New Property", new_admin_property_path, class: "btn btn-large btn-info" %>
                    </div>
                    <h4 class="page-title">Products</h4>
                  </div>
                </div>
            </div>

            <div class="row">
                <div class="col-12">
                    <div class="card m-b-20">
                        <div class="card-block">
                          <h4 class="mt-0 header-title">Products Table</h4>
                            <p class="text-muted m-b-30 font-14"></p>
                            <table id="datatable-buttons" class="table table-striped table-bordered" cellspacing="0" width="100%">
                                <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>Status</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                  <%@prototypes.each do |prototype|%>
                                    <tr>
                                      <td><%=prototype.name%></td>
                                      <td><%=status_converter(prototype.active)%></td>
                                      <td>
                                        <%=link_to "View", admin_prototype_path(prototype)%>
                                        <%=link_to "Edit", edit_admin_prototype_path(prototype)%>
                                        <%=link_to "Delete", admin_prototype_path(prototype), method: :delete, data: {confirm: "Are You Sure ?"}%>
                                      </td>
                                    </tr>
                                  <%end%>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
