<div class="wrapper">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
              <div class="page-title-box">
                <h4 class="page-title"><%=@product.product_name%></h4>
              </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="card m-b-20">
                    <div class="card-block">
                        <h4 class="mt-0 header-title">Product Detail</h4>
                        <!-- Detail Here -->
                        <%=link_to "Edit", edit_admin_product_path, class: "btn btn-info"%>
                        <%=link_to "Cancel", admin_products_path, class: "btn btn-dark"%>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
