<div class="col-lg-4">
  <div class="card m-b-20">
    <div class="card-block">
      <div class="email-leftbar">
        <span href="" class="btn btn-danger btn-rounded btn-custom btn-block waves-effect waves-light">Compose</span>
        <div class="mail-list m-t-20">
          <a href="#">Description</a>
          <a href="#">Images</a>
          <%=link_to "Product", edit_admin_product_path%>
          <%=link_to "Properties",edit_admin_changes_product_property_path(@product)%>
          <%= link_to "Variant", edit_admin_multi_product_variant_path(@product)%>
          <a href="#">Inventory</a>
        </div>
      </div>
    </div>
  </div>
</div>
