<div class="wrapper">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                  <div class="page-title-box">
                    <div class="btn-group pull-right">
                      <%=link_to "Add New Product", new_admin_product_path, class: "btn btn-large btn-info" %>
                    </div>
                    <h4 class="page-title">Products</h4>
                  </div>
                </div>
            </div>

            <div class="row">
                <div class="col-12">
                    <div class="card m-b-20">
                        <div class="card-block">
                          <h4 class="mt-0 header-title">Products Table</h4>
                            <p class="text-muted m-b-30 font-14"></p>
                            <table id="datatable-buttons" class="table table-striped table-bordered" cellspacing="0" width="100%">
                                <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>Position</th>
                                        <th>Office</th>
                                        <th>Age</th>
                                        <th>Start date</th>
                                        <th>Salary</th>
                                    </tr>
                                </thead>
                                <tbody>
                                  <%@products.each do |product|%>
                                    <tr>
                                      <td><%=product.product_name%></td>
                                      <td><%=product.created_at%></td>
                                      <td><%=product.updated_at%></td>
                                      <td>
                                        <%=link_to "View", admin_product_path(product), class: ""%>
                                        <%=link_to "Edit", edit_admin_product_path(product), class: ""%>
                                        <%=link_to "Delete", admin_product_path(product),class: ""%>
                                      </td>
                                    </tr>
                                  <%end%>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
