<%=render "components/header"%>

<div class="wrapper">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
              <div class="page-title-box">
                <h4 class="page-title">Form Product</h4>
              </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8">
                <div class="card m-b-20">
                    <div class="card-block">
                        <h4 class="mt-0 header-title">Product</h4>
                        <p class="text-muted m-b-30 font-14">Parsley is a javascript form validation library. It helps you provide your users with feedback on their form submission before sending it to your server.</p>
                        <%=form_for([:admin, @product])do |f|%>
                          <div class="row">
                            <div class="form-group col-lg-4">
                              <%=f.label :product_name%>
                              <%=f.text_field :product_name, class: "form-control", placeholder: "Product Name"%>
                            </div>
                            <div class="form-group col-lg-4">
                              <%=f.label :permalink%>
                              <%=f.text_field :permalink, class: "form-control", placeholder: "Permalink"%>
                            </div>
                            <div class="form-group col-lg-4">
                              <%=f.label :meta_keywords%>
                              <%=f.text_field :meta_keywords, class: "form-control", placeholder: "Meta Keywords"%>
                            </div>
                            <div class="form-group col-lg-4">
                              <%=f.label :meta_description%>
                              <%=f.text_field :meta_description, class: "form-control", placeholder: "Permalink"%>
                            </div>
                            <div class="form-group col-lg-4">
                              <%=f.label :prototype%>
                              <%=f.collection_select :prototype_id,Prototype.all,:id,:name, {prompt: "SELECT Prototype ..."}, {:class=>"form-control"}%>
                            </div>
                          </div>
                          <div class="form-group">
                            <div>
                              <%=f.submit "Submit", class: "btn btn-info"%>
                              <%=link_to "Cancel", admin_products_path, class: "btn btn-dark"%>
                            </div>
                          </div>
                        <%end%>
                    </div>
                </div>
            </div>
            <%=render "right_sidebar"%>
        </div>
    </div>
</div>
<%=render "components/footer"%>
<%= render "shared/js-partial/1.bootstrap.min"%>
<%= render "shared/js-partial/2.modernizr.min"%>
<%= render "shared/js-partial/3.waves"%>
<%= render "shared/js-partial/4.jquery.slimscroll"%>
<%= render "shared/js-partial/5.jquery.nicescroll"%>
<%= render "shared/js-partial/6.jquery.scrollTo.min"%>
<%= render "shared/js-partial/7.jquery.dataTables.min"%>
<%= render "shared/js-partial/8.dataTables.bootstrap4.min"%>
<%= render "shared/js-partial/9.dataTables.buttons.min"%>
<%= render "shared/js-partial/10.buttons.bootstrap4.min"%>
<%= render "shared/js-partial/11.jszip.min"%>
<%= render "shared/js-partial/12.pdfmake.min"%>
<%= render "shared/js-partial/13.vfs_fonts"%>
<%= render "shared/js-partial/14.buttons.html5.min"%>
<%= render "shared/js-partial/15.buttons.print.min"%>
<%= render "shared/js-partial/16.buttons.cloVis.min"%>
<%= render "shared/js-partial/17.dataTables.responsive.min"%>
<%= render "shared/js-partial/18.responsive.bootstrap4.min"%>
<%= render "shared/js-partial/19.datatables.init"%>
<%= render "shared/js-partial/20.app"%>
