<%= render "components/header"%>

<%= render "product_detail"%>

<%= render "components/footer"%>

<%= render "shared/js-partial/1.bootstrap.min"%>
<%= render "shared/js-partial/2.modernizr.min"%>
<%= render "shared/js-partial/3.waves"%>
<%= render "shared/js-partial/4.jquery.slimscroll"%>
<%= render "shared/js-partial/5.jquery.nicescroll"%>
<%= render "shared/js-partial/6.jquery.scrollTo.min"%>
<%= render "shared/js-partial/7.jquery.dataTables.min"%>
<%= render "shared/js-partial/8.dataTables.bootstrap4.min"%>
<%= render "shared/js-partial/9.dataTables.buttons.min"%>
<%= render "shared/js-partial/10.buttons.bootstrap4.min"%>
<%= render "shared/js-partial/11.jszip.min"%>
<%= render "shared/js-partial/12.pdfmake.min"%>
<%= render "shared/js-partial/13.vfs_fonts"%>
<%= render "shared/js-partial/14.buttons.html5.min"%>
<%= render "shared/js-partial/15.buttons.print.min"%>
<%= render "shared/js-partial/16.buttons.cloVis.min"%>
<%= render "shared/js-partial/17.dataTables.responsive.min"%>
<%= render "shared/js-partial/18.responsive.bootstrap4.min"%>
<%= render "shared/js-partial/19.datatables.init"%>
<%= render "shared/js-partial/20.app"%>
