
  <div class="nested-fields product-properties-fields col-lg-6">
    <%=link_to_remove_association "Remove", f , class: "btn btn-danger"%>

    <div class="form-group">
      <%=f.label :property%>
      <%=f.collection_select :property_id, Property.all, :id, :identifing_name, {prompt: "SELECT Property ..."}, {:class=>"form-control"}%>
    </div>
    <div class="form-group">
      <%=f.label :position%>
      <%=f.number_field :position, class: "form-control", placeholder: "Position"%>
    </div>
    <div class="form-group">
      <%=f.label :description%>
      <%=f.text_area :description, class: "form-control", placeholder: "Description"%>
    </div>
  </div>
