
  <div class="nested-fields product-variants-fields col-lg-6">
    <%=link_to_remove_association "Remove", f , class: "btn btn-danger"%>

    <div class="form-group">
      <%=f.label :sku%>
      <%=f.text_field :sku, :class=>"form-control"%>
    </div>
    <div class="form-group">
      <%=f.label :name%>
      <%=f.text_field :name, :class=>"form-control"%>
    </div>
    <div class="form-group">
      <%=f.label :price%>
      <%=f.text_field :price, :class=>"form-control"%>
    </div>
    <div class="form-group">
      <%=f.label :cost%>
      <%=f.text_field :cost, :class=>"form-control"%>
    </div>

  </div>
