<%= render "components/header"%>

<div class="wrapper">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
              <div class="page-title-box">
                <h4 class="page-title">Form Property</h4>
              </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="card m-b-20">
                    <div class="card-block">
                        <h4 class="mt-0 header-title">Property</h4>
                        <p class="text-muted m-b-30 font-14"></p>
                        <%=form_for([:admin,@product],url: admin_multi_product_variant_path(@product.slug)) do |f|%>
                          <div class="row">
                            <%=f.fields_for :product_variants do |product_variant|%>
                                <%= render 'product_variant_fields', :f => product_variant%>
                            <%end%>
                            <div class="links col-lg-12">
                              <%= link_to_add_association 'New Variant', f, :product_variants, :class=>"btn btn-info"%>
                              <%=f.submit class: "btn btn-info"%>
                            </div>
                          </div>
                          <br>
                        <%end%>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<%= render "components/footer"%>
<%= render "shared/js-partial/1.bootstrap.min"%>
<%= render "shared/js-partial/2.modernizr.min"%>
<%= render "shared/js-partial/3.waves"%>
<%= render "shared/js-partial/4.jquery.slimscroll"%>
<%= render "shared/js-partial/5.jquery.nicescroll"%>
<%= render "shared/js-partial/6.jquery.scrollTo.min"%>
<%= render "shared/js-partial/7.jquery.dataTables.min"%>
<%= render "shared/js-partial/8.dataTables.bootstrap4.min"%>
<%= render "shared/js-partial/9.dataTables.buttons.min"%>
<%= render "shared/js-partial/10.buttons.bootstrap4.min"%>
<%= render "shared/js-partial/11.jszip.min"%>
<%= render "shared/js-partial/12.pdfmake.min"%>
<%= render "shared/js-partial/13.vfs_fonts"%>
<%= render "shared/js-partial/14.buttons.html5.min"%>
<%= render "shared/js-partial/15.buttons.print.min"%>
<%= render "shared/js-partial/16.buttons.cloVis.min"%>
<%= render "shared/js-partial/17.dataTables.responsive.min"%>
<%= render "shared/js-partial/18.responsive.bootstrap4.min"%>
<%= render "shared/js-partial/19.datatables.init"%>
<%= render "shared/js-partial/20.app"%>
