<div class="wrapper">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
              <div class="page-title-box">
                <h4 class="page-title">Form Property</h4>
              </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="card m-b-20">
                    <div class="card-block">
                        <h4 class="mt-0 header-title">Property</h4>
                        <p class="text-muted m-b-30 font-14"></p>
                        <%=form_for([:admin, @property]) do |f|%>
                            <div class="form-group col-lg-6">
                              <%=f.label :identifing_name%>
                              <%=f.text_field :identifing_name,class: "form-control", placeholder: "Identifing Name"%>
                            </div>
                            <div class="form-group col-lg-6">
                              <%=f.label :display_name%>
                              <%=f.text_field :display_name,class: "form-control", placeholder: "Identifing Name"%>
                            </div>
                            <div class="form-group col-lg-6">
                              <div>
                                <%=f.submit "Save", class: "btn btn-info"%>

                                <%=link_to "Cancel", admin_properties_path, :class => "btn btn-dark"%>
                              </div>
                          </div>
                        <%end%>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
